* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family-primary);
}

input,
button,
select {
  font-family: var(--font-family-primary);
}

body {
  background-color: var(--bg-primary);
  font-size: var(--font-size-rg);
}
