.global-nav {
  height: var(--nav-height);
  max-width: 1024px;
  width: 100%;
  margin-inline: auto;
}

.global-nav__content-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-inline: var(--spacing-md);

  list-style: none;
}

.global-nav__item {
  white-space: nowrap;
}
