.site-header {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.global-nav {
  height: var(--nav-height);
  max-width: 1024px;
  width: 100%;
  height: auto;
  margin-inline: auto;
}

.global-nav__content-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-inline: var(--spacing-md);

  list-style: none;
}

.global-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.global-nav__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;

  overflow: hidden;
}
